<ul>
		<li class="first"><a href="/site" title="">Home</a></li>
    	<li><a href="/site/sobre_nos" title="">Sobre nós</a></li>
	  	<li><a href="/produtos" title="">Produtos</a></li>
		<li><a href="/mapas/1" title="">Localização</a></li>
		<li><a href="/site/contatos" title="">Contatos</a></li>
		<% if logged_in? -%>
		    <li><a href="/marcas" title="">Marcas</a></li>
		    <li><a href="/categorias" title="">Categorias</a></li>
		    <li><a href="/banners" title="">Banners</a></li>
		<% end %>
		
</ul>


