<h1>Editar Banner</h1>
<h4>
    <span>
        <%= link_to image_tag('icons/web/visualizar.png',:border => 0, :title => 'Visualizar'), @banner %>
        &nbsp;<%= link_to image_tag('icons/web/voltar.png',:border => 0, :title => 'Voltar'), banners_path %>
    </span>
</h4>

<%= render "formulario" %>
