<h1>Editar Mapa</h1>
<h4>
    <span>
        <%= link_to image_tag('icons/web/visualizar.png',:border => 0, :title => 'Visualizar'), @mapa %>
        &nbsp;<%= link_to image_tag('icons/web/voltar.png',:border => 0, :title => 'Voltar'), mapas_path %>
    </span>
</h4>

<%= render 'formulario'%>
